{% extends "layout.html" %}

{% block title %}Edit listing{% endblock %}

{% block content %}
<h2>{{ item.game_name }}</h2>
<h3>Edit listing</h3>
<div class="content">
<form action="/update_item" method="post">
  <p>
    <label for="game_name">Game</label>: <br />
    <input type="text" name="game_name" id="game_name" value="{{ item.game_name }}" maxlength="100" required />
  </p>
  <p>
    <label for="game_username">In-game username</label>: <br />
    <input type="text" name="game_username" id="game_username" value="{{ item.game_username }}" maxlength="50" required />
  </p>
  <p>
    <label for="availability_start">Availability</label>: <br />
    <input type="time" name="availability_start" id="availability_start" value="{{ item.availability_start }}" required />
    -
    <input type="time" name="availability_end" value="{{ item.availability_end }}" required/>
  </p>
  {% for class, options in classes.items() %}
  <p>
      <label for="class{{ class }}">{{ class }}</label>: <br />
      {% for option in options %}
      <input type="radio" name="{{ class }}" id="class{{ class }}" value="{{ option }}" {% if option == item[class] %}checked{% endif %} /> {{ option }}<br />
      {% endfor %}
  </p>
  {% endfor %}
  <p>
    <label for="other_info">Other info</label>: <br />
    <textarea rows="8" cols="60" name="other_info" id="other_info" maxlength="1000">{{ item.other_info }}</textarea>
  </p>
  <input type="hidden" name="item_id" value="{{ item.id }}"/>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Update listing" />
</form>
</div>
<p>
  <a href="/item/{{ item.id }}">Back to listing</a>
</p>
{% endblock %}
