{% extends "layout.html" %}

{% block title %}Search for listing{% endblock %}

{% block content %}
<h2>Search for listing</h2>

<form action="/find_item" method="get">
  <p>
    Search: <input type="text" name="query" value="{{ query }}">
  </p>
  <input type="submit" value="Submit">
</form>

<p>
  <a href="/">Back</a>
</p>

{% if query %}
<h2>Results</h2>

<ul>
  {% for item in results %}
  <li><a href="/item/{{ item.id }}">{{ item.game_name }}</a> | {{ item.availability_time }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}
