<!DOCTYPE html>
<html>

<head>
  <title>FightLink</title>
</head>

<body>
  <h1>FightLink</h1>

  {% if session.username %}
  <p>
    Signed in as {{ session.username }}
  </p>
  {% endif %}

  <p>
    <a href="/login">Log in</a>
    <a href="/register">Register</a>
    <a href="/logout">Log out</a>
  </p>
  <p>
    <a href="/new_item">New listing</a>
    <a href="/find_item">Search for listing</a>
  </p>

  <h2>Listings</h2>
  <ul>
    {% for item in items %}
    <li><a href="/item/{{ item.id }}">{{ item.game_name }}</a></li>
    {% endfor %}
  </ul>
</body>

</html>
