<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="header">
  <h1>FightLink</h1>
  </div>

  {% if session.user_id %}
  <p>
    Signed in as <a href="/user/{{ session.user_id }}">{{ session.username }}</a>
  </p>
  {% endif %}
  <p>
    <a href="/">Home</a> |
    <a href="/find_item">Search for listing</a> |
    {% if session.username %}
      <a href="/new_item">New listing</a> |
      <a href="/logout">Log out</a>
    {% else %}
      <a href="/login">Log in</a> |
      <a href="/register">Register</a>
    {% endif %}
  </p>

  {% for message in get_flashed_messages() %}
  <div class="info">
    {{ message }}
  </div>
  {% endfor %}

  {% block content %}{% endblock %}
</body>

</html>
