{% extends "layout.html" %}

{% block title %}New listing{% endblock %}

{% block content %}
<h2>New listing</h2>
<div class="content">
<form action="/create_item" method="post">
  <p>
    <label for="game_name">Game</label>: <br />
    <input type="text" name="game_name" id="game_name" maxlength="50" required />
  </p>
  <p>
    <label for="game_username">In-game username</label>: <br />
    <input type="text" name="game_username" id="game_username" maxlength="50" required />
  </p>
  <p>
    <label for="availability_start">Availability</label>: <br />
    <input type="time" name="availability_start" id="availability_start"  required />
    -
    <input type="time" name="availability_end" required/>
  </p>
  {% for class, options in classes.items() %}
  <p>
    <label for="class{{ class }}">{{ class }}</label>: <br />
    {% for option in options %}
    <input type="radio" name="{{ class }}" id="class{{ class }}" value="{{ option }}" /> {{ option }}<br />
    {% endfor %}
  </p>
  {% endfor %}
  <p>
    <label for="other_info">Other info</label>: <br />
    <textarea rows="8" cols="60" name="other_info" id="other_info" maxlength="1000"></textarea>
  </p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Create listing" />
</form>
</div>
{% endblock %}
