{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<h2>Register</h2>

<div class="content">
<form action="/create" method="post">
  <p>
    <label for="username">Username</label>: <br />
    <input type="text" name="username" id="username" />
  </p>
  <p>
    <label for="password1">Password</label>: <br />
    <input type="password" name="password1" id="password1" />
  </p>
  <p>
    <label for="password2">Password again</label>: <br />
    <input type="password" name="password2" id="password2" />
  </p>
  <input type="submit" value="Create user" />
</form>
</div>
{% endblock %}
