{% extends "layout.html" %}

{% block title %}Remove listing{% endblock %}

{% block content %}
<h2>{{ item.game_name }}</h2>
<h3>Remove listing</h3>
<div class="content">
<p>Are you sure you want to delete this listing?</p>
<form action="/remove_item/{{ item.id }}" method="post">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" name="remove" value="Remove listing">
  <input type="submit" name="back" value="Go back">
</form>
</div>
<p>
  <a href="/item/{{ item.id }}" style="color: #467be3;">Back to listing</a>
</p>
{% endblock %}